<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      <button type="button" class="btn btn-primary arduino-led-9-on">LED (9) on</button>
      <button type="button" class="btn btn-primary arduino-led-9-off">LED (9) off</button>
      <button type="button" class="btn btn-primary arduino-led-10-on">LED (10) on</button>
      <button type="button" class="btn btn-primary arduino-led-10-off">LED (10) off</button>
      <button type="button" class="btn btn-primary arduino-led-11-on">LED (11) on</button>
      <button type="button" class="btn btn-primary arduino-led-11-off">LED (11) off</button>
    </p>
<pre><code class="language-javascript">// Firmata

board.digitalWrite(9, board.HIGH);
board.digitalWrite(9, board.LOW);

board.digitalWrite(10, board.HIGH);
board.digitalWrite(10, board.LOW);

board.digitalWrite(11, board.HIGH);
board.digitalWrite(11, board.LOW);

// Johnny-Five

led9.on();
led9.off();

led10.on();
led10.off();

led11.on();
led11.off();
</code></pre>
  </div>
</div>