<!doctype html>
<html lang="en">
  <head>
    {{> styles }}
  </head>
  <body>
    {{> header }}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Welcome</h1>
          <p>
            This project is a starting point for the Cape Town Nodebots group. Over time, we would like to see it grow
            into a rich knowledge base, but for now, it contains a few examples of things you can do with an Arduino,
            and components you need and the Firmata/Johnny-Five code that can be used.
          </p>
        </div>
      </div>
    </div>
    {{> scripts }}
  </body>
</html>